{% extends 'users/base.html' %}

{% block body %}<center>

<a href="" class="btn btn-default">Add new book</a>
</center>
    <table class="table table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Author</th>
            <th>Information</th>
        </tr>
    </thead>

        {% for book in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.information }}</td>
                {% if user.is_staff %}<td><a href="" class="glyphicon glyphicon-edit btn btn-danger"></a>
                        <a href="" class="glyphicon glyphicon-remove btn btn-danger"></a></td>{% endif %}
            </tr>
        {% endfor %}
</table>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock body %}