{% extends 'accounts/base.html' %}
{% block body %}
<center>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% if issued_book %}
    <table class="table table-hover" style="width:70%;">
    <thead>
        <tr>
            <th>No.</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Information</th>
        </tr>
    </thead>
    {% for book in issued_book %}
        <tr><td>{{forloop.counter}}</td><td>{{book.book.name}}</td><td>{{book.book.author}}</td><td>{{book.book.information}}</td></tr>
    {% endfor %}
    </table>
    {% else %}
    <h1> No Request Found..</h1>
{% endif %}
    </center>
{% endblock body %}